label {
	color: blue;

}
#menu {
	float: left;
	width: 150px;
	background-color: cyan;
}
#menu ul {
	list-style: none;
}
#menu ul a:hover {
	background-color: violet;
}

#sisalto {
	margin-left: 170px;

}